main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

.form-box {
	border: 1px solid black;
	width: 600px;
	height: 300px;
}

.full-name,
.contact-info,
.group-info {
	display: flex;
	justify-content: space-between;
  margin: 8px;
}

h2 {
	text-align: center;
}
